@use "colours" as colours;

@font-face {
  font-family: "Noyh R";
  src: url("../assets/fonts/noyhr-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noyh R";
  src: url("../assets/fonts/noyhr-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background: colours.$white;
  color: colours.$purple;
  font-family: "Noyh R", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}
