@use "../styles/colours" as colours;

.Wizzy {
  .WizzyWelcome {
    min-height: 85vh;
  }

  @media screen and (min-width: 800px) {
    padding-left: 40%;

    .WizzyWelcome {
      position: fixed;
      height: 100%;
      width: 40%;
      left: 0;
      top: 0;
      bottom: 0;
      min-height: unset;
    }
  }
}

.WizzyWelcome {
  position: relative;
  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  background: colours.$purple;
  color: colours.$white;

  &__Message {
    max-width: 20em;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__Logo {
    display: block;
    max-width: 100%;
    fill: currentColor;
    margin: 0.5em 0 0.5em;
  }
}

.Witch {
  position: absolute;
  height: auto;
  width: 15em;
  width: 35%;
  max-width: 9em;
  bottom: 0;
  z-index: 1;

  &__Dani {
    left: 0;
  }

  &__Yen {
    right: 0;
  }
}

.Mischief {
}
