@use "../styles/colours" as colours;

.Wizzy {
  min-height: 100vh;
}

.WizzyHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;

  &__Home {
    color: colours.$purple;
    flex-grow: 1;
    max-width: 5em;

    &:hover {
      color: pink;
    }
  }

  &__Logo {
    fill: currentColor;
    transition: all 0.5s ease-in-out;
  }
}

.WizzyFooter {
  text-align: center;
  margin: 2rem;
}
